.header {
  /* position: fixed; */
  width: 100vw;
  height: 9vh;
  z-index: 1;
  background-color: #469CC8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.messages {
  text-align: center;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 49vw;
}

.message {
  margin: 17px;
  padding: 17px;
  border: solid 8px #469CC8;
  border-radius: 18px;
  color: #469CC8;
}

.message-body, .message-body > p {
  display: block;
}

.message-body, .user-bio {
  width: 43vw;
  border: dotted 1px #469CC8;
  border-radius: 9px;
  padding: 0;
}

.message-body > p {
  padding: 28px;
}

Table {
  width:95%;
  margin-left:2.5%;
  margin-right:2.5%;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #469CC8;
  color: #f4f7f9;
}

.table-striped > tbody > tr:nth-of-type(even) {
  color: #469CC8;
}

.inbox-header {
  color: #469CC8;
}

thead {
  color: #469CC8;
}

/* .main-display {
  position: relative;
  top: 9vh;
} */

.greeting {
  display: flex;
  margin: 8px;
  color: #f4f7f9;
}

.logo {
  margin: 8px;
  margin-right: auto;
  color: #f4f7f9;
  cursor: pointer;
}

.form {
  display: flex;
  height: 91vh;
  justify-content: center;
  align-items: center;
}

.main-display {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 4px; */
  flex: 100vw;
  max-width: 100vw;
  height: 91vh;
  background-color: #f4f7f9;
}

/* .logout-btn {
  margin: 15px;
  color: #469CC8;
  background-color: #f4f7f9;
  font-size: 12px;
  border-radius: 8px;
} */

.header-btn {
  margin: 12px;
  color: #469CC8;
  background-color: #f4f7f9;
  font-size: 12px;
  border-radius: 8px;
}

.map-display {
  /* background-color: rgb(0,0,180); */
}

.profile {
  /* background-color: rgb(0,180,0); */
}

.main-display-child {
  /* margin-top: 8px; */
  vertical-align: middle;
  flex: 50%;
  max-width: 50%;
  background-color: #f4f7f9;
}

.user-avatar {
  float: left;
  background-color: #ff6;
  margin: 22px;
  border: 6px solid #469CC8;
  border-radius: 13px;
  max-width: 25%;
  height: 135px;
}

.user-info {
  margin-left: 13px;
  padding-bottom: 16px;
}

.user-address {
  padding-right: 38px;
  text-align: right;
  font-style: oblique;
  font-weight: lighter;
}

.username {
  font-size: 54px;
}

input:not(.submit) {
  border: 3px solid #469CC8;
  border-radius: 10px;
  padding: 6px 144px;
  margin: 8px;
}

input {
  text-align: center;
}

.submit {
  background-color: #469CC8;
  border: none;
  border-radius: 10px;
  color: #f4f7f9;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* .scroll-container {
  width: 19.5vw;
  margin: 18px;
  padding: 16px;
  border: 4px solid #469CC8;
  border-radius: 10px;
  float: left;
  text-align: center;
} */

.scroll-container {
  position: relative;
  width: 19.5vw;
  height: 23vh;
  margin: 18px;
  padding: 16px;
  border: 4px solid #469CC8;
  border-radius: 10px;
  float: left;
  text-align: center;
}

/* .scroller {
  margin: 0 auto;
  height: 200px;
  width: 19.5vw;
  overflow: auto;
  word-wrap: break-word;
} */

.scroller {
  margin: 0 auto;
  height: 17vh;
  width: 19.5vw;
  overflow: auto;
  word-wrap: break-word;
}

.user-bio {
  padding: 28px;
  color: #469CC8;
  height: 21vh;
  font-size: 14px;

}

.user-bio > p {
  margin: 0 auto;
  height: 16vh;
  overflow: auto;
  word-wrap: break-word;
}

.bio-header {
  margin: 9px;
}

.current-availability-header, .instrument-list-header {
  margin: 9px;
}

.item {
  padding: 5px;
  text-align: center;
}

.blue-item {
  background-color: #469CC8;
  color: #f4f7f9;
}

.white-item {
  color: #469CC8;
}

.interaction-buttons {
  /* float: left; */
  text-align: center;
}

.messages-link {
  margin: 12px 2px 0 11px;
  cursor: pointer;
}
.user-jam-sessions {
  margin: 9.8px 2px 0 11px;
  cursor: pointer;
}

.availability-entry {
  cursor: pointer;
}

.interaction-btn {
  width: 155px;
  height: 58px;
  margin: 18px;
  background-color: #469CC8;
  color: #f4f7f9;
  font-size: 20px;
  border-radius: 14px;
}

.profile-header {
  display: flex;
}

.profile-new-message {
  width: 90px;
  height: 23px;
  /* margin: 12px; */
  background-color: #f4f7f9;
  color: #469CC8;
  font-size: 10px;
  border-radius: 8px;
  margin-top: 8.43vh;
  margin-left: 1.32vw;
  /* float: left; */
}

.profile-jam-request {
  width: 120px;
  height: 23px;
  /* margin: 12px; */
  background-color: #f4f7f9;
  color: #469CC8;
  font-size: 10px;
  border-radius: 8px;
  margin-top: 8.43vh;
  margin-left: 1.32vw;
  /* float: left; */
}

.msgs-btns {
  display: flex;
  flex-direction: row-reverse;
}

.msgs-btn {
  width: 100px;
  height: 37px;
  margin: 18px;
  background-color: #469CC8;
  color: #f4f7f9;
  font-size: 12px;
  border-radius: 9px;
  /* float: right; */
}

.new-message-form {
  /* text-align: left; */
  float: left;
}

#body {
  height: 120px;
}

/* div {
  background-color: #f4f7f9;
} */

button {
  cursor: pointer;
}

textarea {
  width: 19.5vw;
  margin: 18px;
  padding: 16px;
  border: 3px solid #469CC8;
  border-radius: 10px;
  float: left;
}

/* .reply-btn {
  width: 100px;
  height: 37px;
  margin: 18px;
  background-color: #469CC8;
  color: #f4f7f9;
  font-size: 12px;
  border-radius: 9px;
  float: right;
} */

.scrollers {

}

.edit-profile-form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #469CC8;
  width: 49vw;
}

select {
  margin: 5px;
}

.time-select {
  display: inline-block;
}

.availability-selection {

}

.time-select-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekday-availability-select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inbox-row {
  cursor: pointer;
}

.to-from {
  display: flex;
  flex-direction: row-reverse;
  /* display: inline;
  text-align: right; */
}

.to-from > h6 {
  border: dotted 1px #469CC8;
  border-radius: 9px;
  /* width: auto; */
  height: 13px;
  margin: 6.66px;
  padding: 5.33px;
}

.sent-on {
  font-weight: lighter;
  text-align: right;
}

.clickable-user {
  cursor: pointer;
}

.backdrop {
  /* position: fixed; */
  position: absolute;
  height: 7vh;
  width: 13vw;
  border: 1px dotted #469CC8;
  background-color: #f4f7f9;
  border-radius: 8px;
  left: 20%;
  top: 72px;
}

.modal {
  color: #469CC8;
}

.register {
  font-weight: bolder;
  cursor: pointer;
}

.jam-sessions-container {
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column; */
  text-align: center;
  width: 49.1vw;
}

.jam-sessions {
  /* display: inline-block; */
  margin: 0 auto;
  /* flex-direction: column; */
  color: #469CC8;
  /* text-align: center;
  align-items: center; */
}

.jam-sessions h1 {
  display: inline-block;
  padding: 10px 35px;
  border: 2px dotted #469CC8;
  border-radius: 7px;
}


.pending-requests-scroller, .accepted-requests {
  /* border: 2px solid black; */
  font-size: 12.7px;
  margin: 0 auto;
  height: 19vh;
  width: 48vw;
  overflow: auto;
  word-wrap: break-word;
}

.cancel-session {
  font-weight: 900;
  cursor: pointer;
}

/* thead {
  position: fixed;
}

tbody {

} */

.form-container {
  display: flex;
  align-items: center;
  text-align: center;
}
